@import "variables.scss";

.navSlideMobileMenu {
  position: absolute;
  background-color: white;
  padding: 5rem;
  width: 60%;
  height: 100vh;
  left: -100%;
  top: 7rem;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  transition: 350ms;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  @include mobile() {
    width: 100%;
  }
}
.navCloseMobileMenu {
  width: 3rem;
  align-self: flex-end;
  transition: 300ms;
}
.mobileMenuAccordionWrapper {
  display: flex;
  flex-direction: column;
}

.mobileMenuAccordionContainer {
  position: relative;
  margin-top: 1.5rem;
  padding: 2rem 0;
  border-bottom: 1px solid $black;
  transition: all 0.5s ease;

  input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 5rem;
    top: 2rem;
    display: block;

    &:checked ~ .mobileMenuAccordionBody {
      max-height: 500rem;
      transition: max-height 500ms ease-in;
    }
  }
}
.mobileMenuAccordionBody {
  max-height: 0;
  overflow: hidden;
  margin-top: 1rem;
  transition: max-height 150ms ease;


  li {
    padding: 2rem;
  }
}
