// Breakpoints ////////////////////////////////////////////////////////////
@mixin tablet() {
  @media (max-width: 1023px) {
    @content;
  }
}
@mixin mobile() {
  @media (max-width: 767px) {
    @content;
  }
}

// Main container ////////////////////////////////////////////////////////////
@mixin container() {
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 70vh;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 3rem;

  @include tablet() {
    padding: 0;
  }
}

// Button ///////////////////////////////////////////////////////////////////

@mixin button() {
  width: 100%;
  padding: 1.5rem 5rem;
  background-color: $black;
  color: white;
  border-style: none;
  cursor: pointer;
  font-family: $titleFont;
  font-size: 1.6rem;
}
