@import "./mixins.scss";

// Fonts ////////////////////////////////////////////////////////////////////////////////////////////////
$primaryFont: 'Roboto-Light';
$titleFont: 'Roboto-Regular';
$secundaryFont: "ZillaSlab-Regular";


// Colors ////////////////////////////////////////////////////////////////////////////////////////////////
$black: hsl(0, 0%, 14%);
$grey1: hsl(0, 0%, 89%);
$grey2: hsl(0, 0%, 36%);
$accent: hsl(162, 100%, 65%);
$shadow1: rgba(59, 59, 59, 0.322);