@import "./variables.scss";

.navWrapper {
  top: 0;
  width: 100%;
  height: 7rem;
  z-index: 100;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid $grey1;

  @include tablet() {
    height: 7rem;
  }
}
.navContainer {
  position: relative;
  height: 100%;
}
.navBody {
  width: 100%;
  height: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include tablet() {
    padding: 0 1.5rem;
  }
}
.navMenu {
  display: flex;
  width: 35rem;

  @include tablet() {
    display: none;
  }
}
.navMobileMenuOpenButton {
  width: 2.5rem;
  display: none;

  @include tablet() {
    display: block;
  }
}
.navLogo {
  width: 30rem;
  display: flex;
  align-self: center;
  justify-content: center;
  img {
    width: 16rem;
  }
  @include tablet() {
    width: 100%;
    justify-content: flex-start;
    margin-left: 2rem;
  }
}
.navUser {
  width: 35rem;
  display: flex;
  justify-content: flex-end;
  img {
    width: 2.3rem;
    margin-left: 2rem;
  }
  @include tablet() {
    width: 12rem;
  }

}
.bagIconWrapper {
  position: relative;
  cursor: pointer;

  span {
    font-size: 1.1rem;
    position: absolute;
    top: .9rem;
    left: 2.85rem;
  }

}
