@import "variables.scss";

.container {
  @include container();
  margin-top: 7rem;
}
.ProductInfoWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include mobile() {
    flex-direction: column;
  }
}
.productImages {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    margin-bottom: 2rem;
  }

  @include mobile() {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;

    img {
      flex: 0 0 auto;
    }
  }
}
.infoContainer {
  position: relative;

  @include mobile() {
    width: 100%;
  }
}
.infoBody {
  position: sticky;
  right: calc(25% + (100vw - 1440px) / 4);
  transform: translate(-20%);
  top: 12%;
  width: 40rem;
  height: 80rem;
  margin: 0 auto;
  padding-bottom: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  button {
    @include button();
  }

  @include tablet() {
    margin-right: 1rem;
    transform: translate(-10%);
  }
  @include mobile() {
    position: unset;
    right: 0;
    margin: 0 auto;
    transform: none;
    height: 80rem;
    top: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
.sizesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}
.sizeBoxSelected {
  position: relative;
  text-align: center;
  width: 6rem;
  padding: 1.3rem;
  border: 1px solid $black;
  transition: all 0.2s;
}
.sizeBoxUnselected {
  position: relative;
  background-color: $black;
  text-align: center;
  width: 6rem;
  padding: 1.3rem;
  border: 1px solid $black;
  transition: all 0.2s;
  p {
    color: white;
  }
}
.deliveryInfo {
  width: 90%;
  margin-top: 5rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.infoParagraph {
  width: 100%;
  height: 10rem;
  margin: 1rem 0;
  text-align: center;

  p {
    margin: 1rem 0;
  }
}
.infoTitle {
  padding: 2rem 0;
  margin: 2rem 0 1rem 0;
  border-bottom: 1px solid $grey2;
  width: 100%;
  text-align: center;
}
