@import "variables.scss";

.primayButtonWrapper {
  @include button();
}
.secondaryButtonWrapper {
  @include button();
  background-color: #ffffff;
  border-style: solid;
  border: 1px solid $black;
  color: $black;
}
.buttonWrapperDisabled {
  @include button();
  background-color: $grey1;
  cursor: default;
}
