@import "./variables.scss";

.checkoutWrapper {
    margin: 15rem auto 0 auto;
    width: 70%;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile(){
        width: 90%;
    }

}
.checkoutTotal{
    padding: 3rem 1rem;
    width: 100%;
    border-bottom: 1px solid $grey1;
}
.checkoutButton{
    width: 50%;
    margin: 3.5rem 0;
    align-self: center;

    button{
        background-color: $grey2;
    }
}
.checkoutInfoWrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;

    @include mobile(){
        flex-direction: column;
        align-items: center;
    }
}
.infoSection{
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 20rem;
    border: 1px solid $grey1;
    padding: 3rem;
    margin: 1rem;

    p{
        line-height: 1.8rem;
        margin: .5rem 0;
    }

    @include mobile(){
        width: 100%;
    height: 17rem;

    }
}
.checkoutMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $grey1;
    width: 30rem;
    height: 7rem;
    margin: 30rem auto 0 auto;
}