@import "variables.scss";

.primaryTitle {
  font-family: $titleFont;
  letter-spacing: -.05rem;
  font-size: 1.8rem;
  line-height: 1.9rem;
  color: $black;
}
.secundaryTitle {
  font-family: $titleFont;
  letter-spacing: -.05rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: $black;
}
.paragraph {
  font-family: $primaryFont;
  letter-spacing: -.05rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: $black;
}
.span {
  font-family: $primaryFont;
  letter-spacing: -.04rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: $grey2;
}
.primaryAnchor {
  font-family: $titleFont;
  letter-spacing: -.05rem;
  font-size: 1.8rem;
  line-height: 1.9rem;
  color: $black;
  margin-right: 1.5rem;
  cursor: pointer;
  touch-action: manipulation;
  display: inline-block;
}
.secundaryAnchor {
  font-family: $titleFont;
  letter-spacing: -.03rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: $black;
  margin-right: 1rem;
  cursor: pointer;
  touch-action: manipulation;
  display: inline-block;
}
.tertiaryTitle {
  font-family: $secundaryFont;
  font-size: 2.2rem;
  line-height: 3rem;
  color: $black;
  text-align: center;
}
.tertiarySubTitle {
  font-family: $secundaryFont;
  font-size: 1.8rem;
  line-height: 1.6rem;
  color: $black;
}